<p id="notice"><%= notice %></p>

<h1>Hierarchies</h1>
<h2>Technology: <%= @technology.name %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, browser_hierarchy_path(@technology.name, category.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path%>